// styles.pcss
@import "partials/_partial";

.component {

   color: #2f95ff;
}

.clickMe{
   padding:10px;
   background-color: #333;
   color:#fff;
}

.text {
   display: flex;

}

.test {
   display: flex;
}

.active {
   color: red;
}
